/* PRETTYPHOTO.CSS */
div.light_rounded .pp_top .pp_left {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px
		no-repeat;
}

div.light_rounded .pp_top .pp_middle {
	background: #fff;
}

div.light_rounded .pp_top .pp_right {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px
		no-repeat;
}

div.light_rounded .pp_content .ppt {
	color: #000;
}

div.light_rounded .pp_content_container .pp_left,
div.light_rounded .pp_content_container .pp_right {
	background: #fff;
}

div.light_rounded .pp_content {
	background-color: #fff;
}

div.light_rounded .pp_next:hover {
	background: url(../images/prettyPhoto/light_rounded/btnNext.png) center right
		no-repeat;
	cursor: pointer;
}

div.light_rounded .pp_previous:hover {
	background: url(../images/prettyPhoto/light_rounded/btnPrevious.png) center
		left no-repeat;
	cursor: pointer;
}

div.light_rounded .pp_expand {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px
		no-repeat;
	cursor: pointer;
}

div.light_rounded .pp_expand:hover {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px
		no-repeat;
	cursor: pointer;
}

div.light_rounded .pp_contract {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
	cursor: pointer;
}

div.light_rounded .pp_contract:hover {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
	cursor: pointer;
}

div.light_rounded .pp_close {
	width: 75px;
	height: 22px;
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px
		no-repeat;
	cursor: pointer;
}

div.light_rounded #pp_full_res .pp_inline {
	color: #000;
}

div.light_rounded .pp_gallery a.pp_arrow_previous,
div.light_rounded .pp_gallery a.pp_arrow_next {
	margin-top: 12px !important;
}

div.light_rounded .pp_nav .pp_play {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px
		no-repeat;
	height: 15px;
	width: 14px;
}

div.light_rounded .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px
		no-repeat;
	height: 15px;
	width: 14px;
}

div.light_rounded .pp_arrow_previous {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat;
}

div.light_rounded .pp_arrow_previous.disabled {
	background-position: 0 -87px;
	cursor: default;
}

div.light_rounded .pp_arrow_next {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px
		no-repeat;
}

div.light_rounded .pp_arrow_next.disabled {
	background-position: -22px -87px;
	cursor: default;
}

div.light_rounded .pp_bottom .pp_left {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px
		no-repeat;
}

div.light_rounded .pp_bottom .pp_middle {
	background: #fff;
}

div.light_rounded .pp_bottom .pp_right {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px
		no-repeat;
}

div.light_rounded .pp_loaderIcon {
	background: url(../images/prettyPhoto/light_rounded/loader.gif) center center
		no-repeat;
}

div.light_square .pp_loaderIcon {
	background: url(../images/prettyPhoto/light_square/loader.gif) center center
		no-repeat;
}

div.dark_rounded .pp_top .pp_left {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px
		no-repeat;
}

div.dark_rounded .pp_top .pp_middle {
	background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
		left repeat;
}

div.dark_rounded .pp_top .pp_right {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px
		no-repeat;
}

div.dark_rounded .pp_content_container .pp_left {
	background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
		left repeat-y;
}

div.dark_rounded .pp_content_container .pp_right {
	background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
		right repeat-y;
}

div.dark_rounded .pp_content {
	background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
		left repeat;
}

div.dark_rounded .pp_next:hover {
	background: url(../images/prettyPhoto/dark_rounded/btnNext.png) center right
		no-repeat;
	cursor: pointer;
}

div.dark_rounded .pp_previous:hover {
	background: url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center
		left no-repeat;
	cursor: pointer;
}

div.dark_rounded .pp_expand {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px
		no-repeat;
	cursor: pointer;
}

div.dark_rounded .pp_expand:hover {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px
		no-repeat;
	cursor: pointer;
}

div.dark_rounded .pp_contract {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
	cursor: pointer;
}

div.dark_rounded .pp_contract:hover {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
	cursor: pointer;
}

div.dark_rounded .pp_close {
	width: 75px;
	height: 22px;
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px
		no-repeat;
	cursor: pointer;
}

div.dark_rounded .currentTextHolder {
	color: #c4c4c4;
}

div.dark_rounded .pp_description {
	color: #fff;
}

div.dark_rounded #pp_full_res .pp_inline {
	color: #fff;
}

div.dark_rounded .pp_gallery a.pp_arrow_previous,
div.dark_rounded .pp_gallery a.pp_arrow_next {
	margin-top: 12px !important;
}

div.dark_rounded .pp_nav .pp_play {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px
		no-repeat;
	height: 15px;
	width: 14px;
}

div.dark_rounded .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px
		no-repeat;
	height: 15px;
	width: 14px;
}

div.dark_rounded .pp_arrow_previous {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat;
}

div.dark_rounded .pp_arrow_previous.disabled {
	background-position: 0 -87px;
	cursor: default;
}

div.dark_rounded .pp_arrow_next {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px
		no-repeat;
}

div.dark_rounded .pp_arrow_next.disabled {
	background-position: -22px -87px;
	cursor: default;
}

div.dark_rounded .pp_bottom .pp_left {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px
		no-repeat;
}

div.dark_rounded .pp_bottom .pp_middle {
	background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top
		left repeat;
}

div.dark_rounded .pp_bottom .pp_right {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px
		no-repeat;
}

div.dark_rounded .pp_loaderIcon {
	background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center
		no-repeat;
}

div.dark_square .pp_left,
div.dark_square .pp_middle,
div.dark_square .pp_right,
div.dark_square .pp_content {
	background: url(../images/prettyPhoto/dark_square/contentPattern.png) top left
		repeat;
}

div.dark_square .currentTextHolder {
	color: #c4c4c4;
}

div.dark_square .pp_description {
	color: #fff;
}

div.dark_square .pp_loaderIcon {
	background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center
		no-repeat;
}

div.dark_square .pp_content_container .pp_left {
	background: url(../images/prettyPhoto/dark_square/contentPattern.png) top left
		repeat;
}

div.dark_square .pp_content_container .pp_right {
	background: url(../images/prettyPhoto/dark_square/contentPattern.png) top
		right repeat;
}

div.dark_square .pp_expand {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px
		no-repeat;
	cursor: pointer;
}

div.dark_square .pp_expand:hover {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px
		no-repeat;
	cursor: pointer;
}

div.dark_square .pp_contract {
	background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
	cursor: pointer;
}

div.dark_square .pp_contract:hover {
	background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
	cursor: pointer;
}

div.dark_square .pp_close {
	width: 75px;
	height: 22px;
	background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px
		no-repeat;
	cursor: pointer;
}

div.dark_square #pp_full_res .pp_inline {
	color: #fff;
}

div.dark_square .pp_gallery a.pp_arrow_previous,
div.dark_square .pp_gallery a.pp_arrow_next {
	margin-top: 12px !important;
}

div.dark_square .pp_nav .pp_play {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px
		no-repeat;
	height: 15px;
	width: 14px;
}

div.dark_square .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px
		no-repeat;
	height: 15px;
	width: 14px;
}

div.dark_square .pp_arrow_previous {
	background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat;
}

div.dark_square .pp_arrow_previous.disabled {
	background-position: 0 -87px;
	cursor: default;
}

div.dark_square .pp_arrow_next {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px
		no-repeat;
}

div.dark_square .pp_arrow_next.disabled {
	background-position: -22px -87px;
	cursor: default;
}

div.dark_square .pp_next:hover {
	background: url(../images/prettyPhoto/dark_square/btnNext.png) center right
		no-repeat;
	cursor: pointer;
}

div.dark_square .pp_previous:hover {
	background: url(../images/prettyPhoto/dark_square/btnPrevious.png) center left
		no-repeat;
	cursor: pointer;
}

div.light_square .pp_left,
div.light_square .pp_middle,
div.light_square .pp_right,
div.light_square .pp_content {
	background: #fff;
}

div.light_square .pp_content .ppt {
	color: #000;
}

div.light_square .pp_expand {
	background: url(../images/prettyPhoto/light_square/sprite.png) -31px -26px
		no-repeat;
	cursor: pointer;
}

div.light_square .pp_expand:hover {
	background: url(../images/prettyPhoto/light_square/sprite.png) -31px -47px
		no-repeat;
	cursor: pointer;
}

div.light_square .pp_contract {
	background: url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
	cursor: pointer;
}

div.light_square .pp_contract:hover {
	background: url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
	cursor: pointer;
}

div.light_square .pp_close {
	width: 75px;
	height: 22px;
	background: url(../images/prettyPhoto/light_square/sprite.png) -1px -1px
		no-repeat;
	cursor: pointer;
}

div.light_square #pp_full_res .pp_inline {
	color: #000;
}

div.light_square .pp_gallery a.pp_arrow_previous,
div.light_square .pp_gallery a.pp_arrow_next {
	margin-top: 12px !important;
}

div.light_square .pp_nav .pp_play {
	background: url(../images/prettyPhoto/light_square/sprite.png) -1px -100px
		no-repeat;
	height: 15px;
	width: 14px;
}

div.light_square .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/light_square/sprite.png) -24px -100px
		no-repeat;
	height: 15px;
	width: 14px;
}

div.light_square .pp_arrow_previous {
	background: url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat;
}

div.light_square .pp_arrow_previous.disabled {
	background-position: 0 -87px;
	cursor: default;
}

div.light_square .pp_arrow_next {
	background: url(../images/prettyPhoto/light_square/sprite.png) -22px -71px
		no-repeat;
}

div.light_square .pp_arrow_next.disabled {
	background-position: -22px -87px;
	cursor: default;
}

div.light_square .pp_next:hover {
	cursor: pointer;
}

div.light_square .pp_previous:hover {
	cursor: pointer;
}

div.facebook .pp_top .pp_left {
	background: url(../images/prettyPhoto/facebook/sprite.png) -88px -53px
		no-repeat;
}

div.facebook .pp_top .pp_middle {
	background: url(../images/prettyPhoto/facebook/contentPatternTop.png) top left
		repeat-x;
}

div.facebook .pp_top .pp_right {
	background: url(../images/prettyPhoto/facebook/sprite.png) -110px -53px
		no-repeat;
}

div.facebook .pp_content .ppt {
	color: #000;
}

div.facebook .pp_content_container .pp_left {
	background: url(../images/prettyPhoto/facebook/contentPatternLeft.png) top
		left repeat-y;
}

div.facebook .pp_content_container .pp_right {
	background: url(../images/prettyPhoto/facebook/contentPatternRight.png) top
		right repeat-y;
}

div.facebook .pp_content {
	background: #fff;
}

div.facebook .pp_expand {
	background: url(../images/prettyPhoto/facebook/sprite.png) -31px -26px
		no-repeat;
	cursor: pointer;
}

div.facebook .pp_expand:hover {
	background: url(../images/prettyPhoto/facebook/sprite.png) -31px -47px
		no-repeat;
	cursor: pointer;
}

div.facebook .pp_contract {
	background: url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;
	cursor: pointer;
}

div.facebook .pp_contract:hover {
	background: url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;
	cursor: pointer;
}

div.facebook .pp_close {
	width: 22px;
	height: 22px;
	background: url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;
	cursor: pointer;
}

div.facebook #pp_full_res .pp_inline {
	color: #000;
}

div.facebook .pp_loaderIcon {
	background: url(../images/prettyPhoto/facebook/loader.gif) center center
		no-repeat;
}

div.facebook .pp_arrow_previous {
	background: url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;
	height: 22px;
	margin-top: 0;
	width: 22px;
}

div.facebook .pp_arrow_previous.disabled {
	background-position: 0 -96px;
	cursor: default;
}

div.facebook .pp_arrow_next {
	background: url(../images/prettyPhoto/facebook/sprite.png) -32px -71px
		no-repeat;
	height: 22px;
	margin-top: 0;
	width: 22px;
}

div.facebook .pp_arrow_next.disabled {
	background-position: -32px -96px;
	cursor: default;
}

div.facebook .pp_nav {
	margin-top: 0;
}

div.facebook .pp_nav p {
	font-size: 15px;
	padding: 0 3px 0 4px;
}

div.facebook .pp_nav .pp_play {
	background: url(../images/prettyPhoto/facebook/sprite.png) -1px -123px
		no-repeat;
	height: 22px;
	width: 22px;
}

div.facebook .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/facebook/sprite.png) -32px -123px
		no-repeat;
	height: 22px;
	width: 22px;
}

div.facebook .pp_next:hover {
	background: url(../images/prettyPhoto/facebook/btnNext.png) center right
		no-repeat;
	cursor: pointer;
}

div.facebook .pp_previous:hover {
	background: url(../images/prettyPhoto/facebook/btnPrevious.png) center left
		no-repeat;
	cursor: pointer;
}

div.facebook .pp_bottom .pp_left {
	background: url(../images/prettyPhoto/facebook/sprite.png) -88px -80px
		no-repeat;
}

div.facebook .pp_bottom .pp_middle {
	background: url(../images/prettyPhoto/facebook/contentPatternBottom.png) top
		left repeat-x;
}

div.facebook .pp_bottom .pp_right {
	background: url(../images/prettyPhoto/facebook/sprite.png) -110px -80px
		no-repeat;
}

div.pp_pic_holder a:focus {
	outline: none;
}

div.pp_overlay {
	background: #000;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9500;
}

div.pp_pic_holder {
	display: none;
	position: absolute;
	width: 100px;
	z-index: 10000;
}

.pp_top {
	height: 8px;
	position: relative;
}

* html .pp_top {
	padding: 0 8px;
}

.pp_top .pp_left {
	height: 8px;
	left: 0;
	position: absolute;
	width: 8px;
}

.pp_top .pp_middle {
	height: 8px;
	left: 8px;
	position: absolute;
	right: 8px;
}

* html .pp_top .pp_middle {
	left: 0;
	position: static;
}

.pp_top .pp_right {
	height: 8px;
	left: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 8px;
}

.pp_content {
	height: 40px;
}

.pp_fade {
	display: none;
}

.pp_content_container {
	position: relative;
	text-align: left;
	width: 100%;
}

.pp_content_container .pp_left {
	padding-left: 8px;
}

.pp_content_container .pp_right {
	padding-right: 8px;
}

.pp_content_container .pp_details {
	float: left;
	margin: 10px 0 2px 0;
}

.pp_description {
	display: none;
	margin: 0 0 5px 0;
}

.pp_nav {
	clear: left;
	float: left;
	margin: 3px 0 0 0;
}

.pp_nav p {
	float: left;
	margin: 2px 4px;
}

.pp_nav .pp_play,
.pp_nav .pp_pause {
	float: left;
	margin-right: 4px;
	text-indent: -10000px;
}

a.pp_arrow_previous,
a.pp_arrow_next {
	display: block;
	float: left;
	height: 15px;
	margin-top: 3px;
	overflow: hidden;
	text-indent: -10000px;
	width: 14px;
}

.pp_hoverContainer {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2000;
}

.pp_gallery {
	left: 50%;
	margin-top: -50px;
	position: absolute;
	z-index: 10000;
}

.pp_gallery ul {
	float: left;
	height: 35px;
	margin: 0 0 0 5px;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.pp_gallery ul a {
	border: 1px #000 solid;
	border: 1px rgba(0, 0, 0, 0.5) solid;
	display: block;
	float: left;
	height: 33px;
	overflow: hidden;
}

.pp_gallery ul a:hover,
.pp_gallery li.selected a {
	border-color: #fff;
}

.pp_gallery ul a img {
	border: 0;
}

.pp_gallery li {
	display: block;
	float: left;
	margin: 0 5px 0 0;
}

.pp_gallery li.default a {
	background: url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0
		no-repeat;
	display: block;
	height: 33px;
	width: 50px;
}

.pp_gallery li.default a img {
	display: none;
}

.pp_gallery .pp_arrow_previous,
.pp_gallery .pp_arrow_next {
	margin-top: 7px !important;
}

a.pp_next {
	background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px
		10000px no-repeat;
	display: block;
	float: right;
	height: 100%;
	text-indent: -10000px;
	width: 49%;
}

a.pp_previous {
	background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px
		10000px no-repeat;
	display: block;
	float: left;
	height: 100%;
	text-indent: -10000px;
	width: 49%;
}

a.pp_expand,
a.pp_contract {
	cursor: pointer;
	display: none;
	height: 20px;
	position: absolute;
	right: 30px;
	text-indent: -10000px;
	top: 10px;
	width: 20px;
	z-index: 20000;
}

a.pp_close {
	display: block;
	float: right;
	line-height: 22px;
	text-indent: -10000px;
}

.pp_bottom {
	height: 8px;
	position: relative;
}

* html .pp_bottom {
	padding: 0 8px;
}

.pp_bottom .pp_left {
	height: 8px;
	left: 0;
	position: absolute;
	width: 8px;
}

.pp_bottom .pp_middle {
	height: 8px;
	left: 8px;
	position: absolute;
	right: 8px;
}

* html .pp_bottom .pp_middle {
	left: 0;
	position: static;
}

.pp_bottom .pp_right {
	height: 8px;
	left: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 8px;
}

.pp_loaderIcon {
	display: block;
	height: 24px;
	left: 50%;
	margin: -12px 0 0 -12px;
	position: absolute;
	top: 50%;
	width: 24px;
}

#pp_full_res {
	line-height: 1 !important;
}

#pp_full_res .pp_inline {
	text-align: left;
}

#pp_full_res .pp_inline p {
	margin: 0 0 15px 0;
}

div.ppt {
	color: #fff;
	display: none;
	font-size: 17px;
	margin: 0 0 5px 15px;
	z-index: 9999;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* RESET.CSS */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tdvideo,
tt,
u,
ul,
var {
	background: transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: top;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

table,
table td {
	padding: 0;
	border: none;
	border-collapse: collapse;
}

img {
	vertical-align: top;
}

embed {
	vertical-align: top;
}

* {
	border: none;
}

/* LAYOUT.CSS */

.col1,
.col2,
.col3,
.cols {
	float: left;
}

.col1 {
	width: 280px;
}

.col2 {
	width: 209px;
}

.cols {
	width: 98px;
}

#page_Extra .col1 {
	width: 135px;
}

#page_Extra .col2 {
	width: 425px;
}

/* STYLE.CSS */

/* Getting the new tags to behave */
article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
	display: block;
}

#menu a,
footer,
h2,
.button1,
.date,
.tabs .nav li a,
.wrapper p {
	font-family: "Ubuntu", sans-serif;
	hover: true;
}

mark,
rp,
rt,
ruby,
summary,
time {
	display: inline;
}
/* Left & Right alignment */
.left {
	float: left;
}

.right {
	float: right;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

/* Global properties ======================================================== */
body {
	background-image: url("../images/photos/photo1.jpg");
	border: 0;
	font: 11px "Ubuntu", sans-serif;
	color: #ddd;
	line-height: 20px;
	min-width: 1100px;
	overflow: inherit;
	background-repeat: no-repeat;
	background-size: cover;
}

.ic {
	border: 0;
	float: right;
	background: #fff;
	color: #f00;
	width: 50%;
	line-height: 10px;
	font-size: 10px;
	margin: -220% 0 0 0;
	overflow: hidden;
	padding: 0;
}
/* Global Structure ============================================================= */
.main {
	margin: 0 auto;
	width: 1100px;
}

.bg_spinner {
	width: 100px;
	height: 13px;
	position: absolute;
	z-index: 2;
	background: url(../images/loader.gif) 0 0 no-repeat;
	top: 5px;
	left: 5px;
}

.spinner {
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) 50% 50% no-repeat #000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.block {
	height: 92px;
}

.extra {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -92px;
	position: relative;
}

body,
html {
	height: 100%;
}

.bg1 {
	background: #000;
	position: relative;
	z-index: 1;
	height: 92px;
}

.box {
	width: 100%;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

.pagination {
	position: absolute;
	top: -35px;
	left: 0;
}

.pagination li {
	float: left;
	padding-right: 2px;
	font-size: 20px;
	line-height: 34px;
}

.pagination a {
	display: inline-block;
	height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	color: #000;
	text-align: center;
	text-decoration: none;
	text-align: center;
	background: #fff;
}

.pagination a:hover,
.pagination .current a {
	background-position: left;
	color: #fff;
	background: #000;
}
/* ============================= main layout ====================== */
a {
	color: #dfdfdf;
	text-decoration: underline;
	outline: none;
	font-weight: 800;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 56px;
	color: #ffffff;
	padding: 48px 0 0 0;
	margin: 0 0 -24px 0;
	font-family: "Numans", sans-serif;
}

h2 {
	font-size: 26px;
	line-height: 1.2em;
	padding: 17px 0 20px 0;
	color: #fff;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	line-height: 1.2em;
	padding: 17px 0 20px 0;
	color: #fff;
	font-weight: 700;
}
p {
	padding-bottom: 20px;
}

hr.style-eight {
	padding: 0;
	border: none;
	border-top: medium double #ddd;
	color: #ddd;
	text-align: center;
}

hr.style-eight:after {
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: none;
}

hr.style-one {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.cv h1 {
	color: #ddd;
	font-size: 26px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 26px;
}

.cv h2 {
	color: #ddd;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}

.cv h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 800;
	margin: 0;
	padding: 0;
	text-align: left;
}

.cv h4 {
	color: #fff;
	font-size: 14px;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

.cv ul,
.software ul,
.research ul {
	list-style: disc outside;
	padding-left: 20px;
}

.cv li,
.software li,
.research li {
	padding-left: 0px;
}

.cv td,
.software td,
.research td {
	margin: 0;
	padding: 0 0 0 15px;
	text-align: left;
}

/* ============================= header ====================== */
header {
	width: 360px;
	float: left;
}

header a {
	text-decoration: none;
}

#logo {
	display: block;
	text-indent: -9999px;
	background: url(../images/logo.png) 0 0 no-repeat;
	width: 280px;
	height: 153px;
}

#menu {
	padding-top: 122px;
}

#menu > li {
	width: 100%;
	overflow: hidden;
	padding-bottom: 4px;
}

#menu > li > a {
	display: inline-block;
	font-size: 26px;
	line-height: 54px;
	height: 56px;
	color: #fff;
	background: #000;
	text-decoration: none;
	position: relative;
	letter-spacing: 0px;
	cursor: pointer;
}

#menu > li > a span {
	display: block;
	background: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#menu > li > a strong {
	position: relative;
	display: block;
	padding: 0 55px 0 40px;
	height: 56px;
}

#menu > li > a:hover,
#menu > li > a.active {
	color: #000;
}

#menu > li > a:hover strong,
#menu > li > a.active strong {
}
/* ============================= content ====================== */
.project_title {
	font-weight: 800;
	color: #fff;
	font-size: 14px;
}

#content {
	height: 868px;
	width: 740px;
	float: left;
	position: relative;
}

#content > ul > li {
	position: relative;
	height: 868px;
	width: 100%;
	bottom: 0;
}

.box1 {
	background: url(../images/bg_content.png) repeat;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: absolute;
	top: 0;
	left: 0;
}

.inner {
	padding: 25px 55px 25px 60px;
	position: relative;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 25px;
	height: 25px;
	background: url(../images/close.gif) 0 0 no-repeat;
	display: block;
}

.close span {
	display: block;
	background: url(../images/close.gif) 0 bottom no-repeat;
	width: 100%;
	height: 100%;
}

.pad_left1 {
	padding-left: 50px;
}

.pad_bot1 {
	padding-bottom: 25px;
}

.pad_bot2 {
	padding-bottom: 4px;
}

.pad_bot3 {
	padding-bottom: 10px;
}

.marg_right1 {
	margin-right: 29px;
}

#page_Services .pad_bot3 {
	padding-bottom: 15px;
}

#content figure {
	padding-top: 5px;
}

.button1 {
	display: inline-block;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	background: #fff;
	line-height: 33px;
	position: relative;
}

.button1 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
}

.button1 strong {
	position: relative;
	font-weight: 400;
	display: block;
	padding: 0 14px;
	letter-spacing: -1px;
}

.button1:hover {
	color: #fff;
}

.date {
	float: left;
	width: 52px;
	margin-right: 17px;
	text-align: center;
	font-size: 49px;
	font-weight: 700;
	color: #fff;
	letter-spacing: -1px;
	line-height: 1.2em;
}

.date strong {
	margin-top: -9px;
	display: block;
}

.date span {
	font-weight: 400;
	font-size: 25px;
	line-height: 1.2em;
	margin-top: -13px;
	display: block;
}

.color1 {
	color: #fff;
}

.list1,
.list2 {
	margin-top: -2px;
}

.list1 li,
.list2 li {
	line-height: 24px;
}

.list1 a,
.list2 a {
	padding-left: 10px;
	background: url(../images/marker_1.gif) 0 6px no-repeat;
	text-decoration: none;
}

.list1 a:hover {
	color: #fff;
}

.list2 a {
	color: #fff;
}

.list2 a:hover {
	color: #808080;
}

.tabs .nav {
	padding-top: 5px;
}

.tabs .nav li {
	line-height: 28px;
	padding-bottom: 2px;
}

.tabs .nav li a {
	position: relative;
	font-size: 12px;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-decoration: none;
	height: 28px;
	line-height: 26px;
	padding: 0 39px 0 9px;
	color: #fff;
	background: #000;
	display: inline-block;
}

.tabs .nav li a span {
	display: block;
	position: absolute;
	padding: 0 39px 0 9px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
}

.tabs .nav li a strong {
	font-weight: 400;
}

.tabs .nav li a:hover,
.tabs .nav .selected a {
	color: #000;
}

.tab-content figure {
	padding-bottom: 15px;
}

.tab-content figure.marg_right1 {
	margin-right: 20px;
}
/* Lightbox image */
.lightbox-image {
	position: relative;
	overflow: hidden;
	display: block;
	background: #fff;
	z-index: 1;
}

.lightbox-image img {
	position: relative;
	z-index: 1;
}

.lightbox-image > span {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/border.gif) 0 0 no-repeat;
	z-index: 2;
}

.pp_details {
	height: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 0;
	visibility: visible !important;
}

.pp_description {
	display: none;
	height: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
	line-height: 0;
}

.pp_close {
	position: absolute;
	z-index: 99;
	top: -30px;
	right: 0;
	display: none !important;
}

div.light_square .pp_next {
	position: absolute;
	top: 48%;
	right: -68px;
	width: 35px;
	height: 35px;
	background: url(../images/marker_right.gif) left top no-repeat;
	visibility: visible !important;
}

div.light_square .pp_next:hover {
	background-position: bottom;
}

div.light_square .pp_previous {
	position: absolute;
	top: 48%;
	left: -68px;
	width: 35px;
	height: 35px;
	background: url(../images/marker_left.gif) left top no-repeat;
	visibility: visible !important;
}

div.light_square .pp_previous:hover {
	background-position: bottom;
}

.pp_arrow_previous,
.pp_arrow_next {
	display: none !important;
}

.link1 {
	color: #fff;
	text-decoration: none;
}

.link1:hover {
	text-decoration: underline;
}
/* ============================= footer ====================== */
footer {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 40px;
	position: relative;
	padding: 24px 0 0 0;
	letter-spacing: -1px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: #fff;
}

.col_1 {
	width: 360px;
	float: left;
}

.col_2 {
	width: 740px;
	float: left;
	text-align: center;
}

/* ======= misc ======== */

:root {
	--hue: 206;
	--bkg: var(--hue) 50% 96%;
	--text: var(--hue) 70% 9%;
	--dark: var(--hue) 70% 3%;
}

div.gallery {
	margin: 5px;
	border: 1px solid rgb(20, 20, 20);
	float: left;
	width: 180px;
}
div.gallery:hover {
	border: 1px solid #777;
}
div.gallery img {
	width: 100%;
	height: auto;
}
div.desc {
	padding: 15px;
	background-color: rgb(20, 20, 20);
	text-align: center;
}

.grid {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	place-items: center;
	position: relative;
	padding-left: 24px;
	padding-right: 24px;
	max-width: 1200px;
	margin: auto;
	gap: 1rem;
	overflow: hidden;
}

.col4 {
	width: max-content;
	padding-left: 24px;
}

.image-item {
	flex: 1 0 28%;
	padding: 0px;
	display: contents;
}

.image-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider {
	display: none;
	width: max-content;
	height: 100vh;
	position: relative;
	z-index: 100;
}

a.prev,
a.next {
	height: 91px;
	position: fixed;
	width: 43px;
	top: 50%;
	margin-top: -30px;
	opacity: 0.6;
	text-indent: -99999px;
	cursor: pointer;
	-webkit-transition: opacity 200ms ease-out;
}

a.prev:hover,
a.next:hover {
	opacity: 1;
}

.prev {
	left: 0;
	background: #000
		url("https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png")
		no-repeat -200px 25px;
}

.next {
	right: 0;
	background: #000
		url("https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png")
		no-repeat -167px 25px;
}

.slide {
	position: absolute;
	height: 100%;
	width: 100%;
}

.slide:target {
	z-index: 100;
}

.imgSlide {
	width: 1200px;
	height: 675px;
	position: fixed;
	left: 50%;
	right: 50%;
	transform: translate(-50%);
}

.imgSlide2 {
	width: 864px;
	height: 648px;
	position: fixed;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -10%);
}

.acoustic-content {
	background-color: #000;
}

.acoustic-content h2 {
	padding-left: 5%;
}

.acoustic-content p {
	font-size: large;
	padding-left: 10%;
	padding-right: 20%;
}

.acoustic-content table, .acoustic-content th, .acoustic-content td {
	font-size: large;
	/*border: 1px solid;
	border-collapse: collapse;*/
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.acoustic-content table {
	table-layout: auto;
	margin-left: 12%;
}

.acoustic-content img {
	margin-left: 12%;
}

/* .acoustic-content::before {
	background: url(../images/bg_content.png) repeat;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	top: 0;
	left: 0;
	opacity: 0.5;
	content: "";
	position: absolute;
} */

.col4 a {
	text-decoration: none;
}
